*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

/*Fuente de Google Fonts
.montserrat-fuente {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 71, 52);
}

body{
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}  

.portada{
    width: 100vw;
    height: 100vh;
    background-image: url(Imagenes/IMG_1970.jpg);
    background-color: gray;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}


.portada h1{
    box-sizing: border-box;
    color: white;
    padding: 20px;
    font-size: 100px;
}

h2{
    box-sizing: border-box;
    color: rgb(28, 71, 52);
    padding: 20px;
    font-size: 50px;
}

.apartado{
    width: auto;
    background-color: grey;
    margin: 10px;/*Para el espacio fuera del apartado*/
    display: flex;
    align-items: center;
}

.apartado img{
    width: 600px;
    padding: 20px;
    border-radius: 60px;
}

.apartado #texto-apartado{
    width: 100%;
    font-size: 25px;
    padding: 20px;
}

.apartado #boton-apartado{
    font-size: 25px;
    border: 2px solid none; 
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(12, 134, 12);
    margin: 25px;
    text-decoration: none; /* Quita el subrayado */
    color: white;
}

#boton-apartado:hover{
    background-color: rgb(34, 98, 68);
}

.apartado .seccion{
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: auto;
    margin: 10px;
}

.apartado .seccion img{
    object-fit: cover;
}

#irlanda-general{

}