/*Aquí le quito el padding y el margin generalizado*/
*{
    padding: 0;
    margin: 0;
}

/*Fuente de Google Fonts
.montserrat-fuente {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(28, 71, 52);
    color: white;
}

.secciones-navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.secciones-navbar li{
    margin-left: 20px;
}

.secciones-navbar a{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}  

.portada{
    width: 100vw; /*Esto hace que la portada ocupe el 100% de la pantalla*/
    height: 80vh; /*Esto hace que la portada ocupe el 95% de la altura de la pantalla*/
    background-image: url(Imagenes/IMG_1970.jpg); /*Aquí estoy jalando la imagen que quiero como portada*/
    background-size: cover; /*Hace que la imagen cubra todo el div*/
    background-position: center; /*Esto hace que la imagen se centre*/color: white; /*Esto me hace el texto de color blanco*/
    background-repeat: no-repeat; /*Hace que la imagen no se repita como mosaico*/
}


.portada h1{
    box-sizing: border-box;
    padding: 20px;
    font-size: 100px;
    display: flex;
}

h2{
    box-sizing: border-box;
    color: rgb(28, 71, 52);
    padding: 20px;
    font-size: 50px;
}

.apartado{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.apartado img{
    width: 70vh;
    border-radius: 60px;
    padding: 20px;
}

.apartado #texto-apartado{
    width: 800px;
    height: 500px;
    background-color: rgba(109, 176, 9, 0.53);
    box-sizing: border-box;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 60px;

}

.apartado p{
    font-weight: 600;
    font-style: italic;
}

.apartado a{
    font-size: 15px;
    border: 2px solid none; 
    border-radius: 50px;
    padding: 15px;
    background-color: rgb(12, 134, 12);
    margin: 25px;
    text-decoration: none; /* Quita el subrayado */
    color: white;
}

#boton-apartado:hover{
    background-color: rgb(34, 98, 68);
}

.apartado .seccion{
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: auto;
    margin: 10px;
}

.apartado .seccion img{
    object-fit: cover;
}

#irlanda-general{

}